In [1]:
#question1
r = float(input("Enter radius of circle: "))
a = 3.141* r * r
print("Area of circle =", a)

Enter radius of circle: 3
Area of circle = 28.269

In [8]:
#question2
name=input('enter the name:')
rollno=int(input('enter the roll number:'))
marks=int(input('enter the mark:'))
print('NAME:',name)
print('ROLL NO:',rollno)
print('MARK:',marks)

enter the name:raju
enter the roll number:23
enter the mark:45
NAME: raju
ROLL NO: 23
MARK: 45

In [9]:
#question3
a=0
b=4
c=88
d=23
res = max(a, b, c,d)
print(res)

88

In [12]:
#question4
for i in range (1,9):
  num=i,i-1
  currentnum=i
  previousnum=i-1
  print('current num:',currentnum)
  print(' previous num:',previousnum)
  print(currentnum+previousnum)

current num: 1
 previous num: 0
1
current num: 2
 previous num: 1
3
current num: 3
 previous num: 2
5
current num: 4
 previous num: 3
7
current num: 5
 previous num: 4
9
current num: 6
 previous num: 5
11
current num: 7
 previous num: 6
13
current num: 8
 previous num: 7
15

In [9]:
#question5

scores=[12,30,56,23,45,70]
for sc in scores :
  sc=sc%5==0
  print(sc)

False
True
False
False
True
True

In [12]:
#prime
num = 15
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print('Not Prime')
else:
  print("Prime")

Not Prime

In [11]:
#7
a = [1, 2, 3, 4, 5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [10]:
#9
a = 10
b = 14
c = 12
res = max(a, b, c)
print(res)

14